
.App {
  font-family: sans-serif;
  text-align: center;
}

.bordRed {
 color:red ;
 border: solid  black 1px ;
 padding: 15px;
}

.bordGreen {
  color:green ;
  border: solid  black 1px ;
  padding: 10px;
 }
 
 .bordBlue {
  
  border: solid  black 3px ;
  padding: 10px;
 }
 